html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #ecf0f1;
    font-family: 'Courier New', monospace;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.fullscreen .info-fullscreen {
    display: none;
}

.info-fullscreen {
    text-align: center;
}

.info-fullscreen::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    -webkit-appearance: none;
    outline: unset;
    border: unset;
    background: transparent;
    border: 2px solid #ecf0f1;
    color: #ecf0f1;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease;
}

button:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
}