@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('ttf'),
         url('Minecraft.woff2') format('woff2'),
         url('Minecraft.woff') format('woff');
}

body {
    font-family: 'Minecraft', Fallback, sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    user-select: none;
}